<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zoz.cool.javis.mapper.OmsAlipayOrderMapper">

    <resultMap id="BaseResultMap" type="zoz.cool.javis.domain.OmsAlipayOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="qrCode" column="qr_code" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="tradeStatus" column="trade_status" jdbcType="VARCHAR"/>
            <result property="tradeNo" column="trade_no" jdbcType="VARCHAR"/>
            <result property="buyerId" column="buyer_id" jdbcType="VARCHAR"/>
            <result property="gmtPayment" column="gmt_payment" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="buyerPayAmount" column="buyer_pay_amount" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,order_id,
        qr_code,subject,total_amount,
        trade_status,trade_no,buyer_id,
        gmt_payment,create_time,buyer_pay_amount
    </sql>
</mapper>
