<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zoz.cool.javis.mapper.PmsInvoiceInfoMapper">

    <resultMap id="BaseResultMap" type="zoz.cool.javis.domain.PmsInvoiceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="checked" column="checked" jdbcType="TINYINT"/>
            <result property="reimbursed" column="reimbursed" jdbcType="TINYINT"/>
            <result property="invCode" column="inv_code" jdbcType="VARCHAR"/>
            <result property="invNum" column="inv_num" jdbcType="VARCHAR"/>
            <result property="invChk" column="inv_chk" jdbcType="VARCHAR"/>
            <result property="invDate" column="inv_date" jdbcType="DATE"/>
            <result property="invMoney" column="inv_money" jdbcType="DECIMAL"/>
            <result property="invTax" column="inv_tax" jdbcType="VARCHAR"/>
            <result property="invTotal" column="inv_total" jdbcType="VARCHAR"/>
            <result property="invDetail" column="inv_detail" jdbcType="VARCHAR"/>
            <result property="invType" column="inv_type" jdbcType="VARCHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="fileHash" column="file_hash" jdbcType="VARCHAR"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
            <result property="bucketName" column="bucket_name" jdbcType="VARCHAR"/>
            <result property="objectName" column="object_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,status,
        checked,reimbursed,inv_code,
        inv_num,inv_chk,inv_date,
        inv_money,inv_tax,inv_total,
        inv_detail,inv_type,method,
        file_hash,file_path,file_name,
        file_type,bucket_name,object_name,
        create_time,is_delete,remark
    </sql>
</mapper>
